{% load static %}
<header class="d-flex align-items-center px-3 py-2 position-sticky">
    <div><a href="../"><img id="logo" src="{% static 'home/images/home-icon.svg' %}"></a></div>
    <div class="d-flex ms-auto ">
        <div class="d-flex align-items-center">
            <i class="material-icons-outlined">stream</i>
            <i class="material-icons-outlined">search</i>
            <i class="material-icons-outlined">notifications</i>
            <i class="material-icons-outlined">favorite</i>
            <i class="material-icons-outlined">chat</i>
        </div>
    </div>
</header>