.cover-photo {
    height: 200px;
    background-color: black;
    overflow-y: hidden;
    -webkit-box-shadow: 8px 8px 20px 0px rgba(40,40,40,0.5); 
    box-shadow: 8px 8px 20px 0px rgba(40,40,40,0.5);
}

.cover-photo img {
    width: 100%;
    opacity: 0.3;
}

.profile-photo {
    width: 90px;
    height: 90px;
    /* background-color: tomato; */
}

.profile-photo img {
    width: 100%;
    border-radius: 90px;
    border: 5px solid white;
}

.profile-header {
    top: 0;
    left: 0;
    height: 100%;
    padding-left: calc(var(--bs-gutter-x) * 1.3);
    padding-right: calc(var(--bs-gutter-x) * 1.3);
    /* background-color: #00ffff60; */
}

.profile-header .stats-section {
    height: 55px;
    background-color: aliceblue;
    border-radius: .25em;
    margin-left: 1em;
}

.stats-num {
    font-weight: 600;
}

.profile-header .settings-section {
    margin-left: 1em;
}

.profile-header .settings-section .setting-icon {
    width: 25px;
}

.profile-header .settings-section .btn-primary {
    font-size: 12px;
    font-weight: 700;
    width: 85px;
}

.profile-header .settings-section .btn-primary.setting {
    width: auto;
}

.profile-info .label-left {
    padding: 5px;
    background-color: aquamarine;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    white-space: nowrap;
}

.profile-info .label-right {
    padding: 5px;
    background-color: rgb(206, 180, 230);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    white-space: nowrap;
}


.content {
    margin-top: 20px;
    padding-left: 3em;
    padding-right: 3em;
}

.content .category-section .category-header {
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content .category-section .category {
    background-color: aquamarine;
    border-radius: 10px;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.1s, color 0.1s;
}

.content .category-section .category:hover {
    background-color: rgb(42, 87, 72);
    color: #FFFFFF;
}

.content .info-section .info-header {
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
}

.content .info-section .info-details {
    padding: 1em 1em 1em 2.4em;
    border: 1px solid #85a3fb;
    background-color: #FFFFFF;
    border-radius: 10px;
}

.content .info-section .info-details .label-left {
    min-width: 100px;
}

.content .info-section .info-details .label-right {
    min-width: 150px;
    max-width: 250px;
}

.content .post-section .post-header {
    font-size: 16px;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 25px;
}

.content .post-section .post-content {
    /* max-width: 410px; */
    /* height: 300px; */
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 3px 3px 15px 0px rgba(100,100,100,0.3); 
    box-shadow: 3px 3px 15px 0px rgba(100,100,100,0.3);
}

.content .post-section .caption {
    padding: 5px;
    height: 55px;
    /* background-color: aqua; */
}

.content .post-section .thumbnail img {
    flex: 1 1;
    height: 220px;
    width: 100%;
}

.content .post-section .bottom {
    padding: 5px;
    height: 40px;
    /* background-color: aqua; */
}

/* -md to -xs (<768) */
@media screen and (max-width: 767px) {
    /* .content .post-section .post-thumbnail {
        max-width: unset;
    } */
}

/* -xs (<576) */
@media screen and (max-width: 575px) {
    .content {
        padding-left: 1em;
        padding-right: 1em;
    }
    
}