/*
========================================
    ヘッダー
=========================================
*/

header {
    width: 100%;
    height: 40vh;
    background-color: var(--theme-color-light);
}

header h1 {
    font-size: 1.5rem;
    color: #000000;
    /* background: url(images/piron.png) no-repeat; */

}



/*
========================================
    選択画面
=========================================
*/
section {
    width: 100%;
}

section form#login {
    max-width: 420px;
    padding: 1.5rem;
    width: 100%;
    /* height: 60px; */
    /* background-color: red;  */
}

section #login .title-text {
    font-size: 25px;
    font-weight: 600;
}

section #login .small {
    font-size: 0.75rem;
}

section #login .input-field {
    margin-top: 15px;
}

section .oauth-signin {
    margin-top: 10px;
}

section .oauth-signin .icon {
    width: 50px;
    height: 50px;
    background-color: #0e1081;
    margin-right: 10px;
}