<!DOCTYPE html>
<html lang="jp">
{% load static %}
<head>
  <title>Login - Piron</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'assets/bootstrap-5.1.3-dist/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/general.css' %}">
  <link rel="stylesheet" href="{% static 'login/style.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto%20Sans%20JP">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined">
</head>

<body>
  <header>
    <div class="align-items-center d-flex flex-column h-100 justify-content-center">
      <div class="d-flex">
        <h1>Piron</h1>    
      </div>
    </div>
  </header>
  <section>
    <div class="d-flex flex-column align-items-center">
      <form id="login" class="d-flex flex-column" method="post">
        <div class="d-flex flex-column input-field">
          <span class="title-text">ログイン</span>
          <span>ログイン登録されているEメールアドレス又は電話番号を入力して下さい。</span>
          {% if error_message %}
            <span style="color: red">{{ error_message }}</span>
          {% endif %}
        </div>      
        <input type="text" id="login_id" name="login_id" value="{% firstof login_id %}" class="form-control input-field" placeholder="Eメール又は電話番号">
        <input type="password" id="login_pass" name="login_pass" class="form-control input-field" placeholder="パスワード">
        <div class="form-check mt-3">
          <input type="checkbox" id="login_remember" name="login_remember" class="form-check-input">
          <label for="login_remember" class="form-label">記録する</label>
          <span></span>
        </div>
        <button type="submit" class="btn btn-orange btn-login input-field">ログイン</button>
        <button type="button" class="btn btn-orange-inverse btn-create-account input-field">会員登録</button>
        <span class="mt-4">
          <a href="">パスワードを忘れた方はこちら</a>
        </span>

        <span class="mt-4">外部サービスでサインインする</span>
        <div class="d-flex oauth-signin">
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
          <div class="icon"></div>
        </div>
      </form>
    </div>  
  </section>
</body>

</html>