section i.material-icons-outlined {
    cursor: pointer;
}

section[aria-labelledby="featured"] i.material-icons-outlined {
    transition: color 100ms ease-in-out;
}

section[aria-labelledby="featured"] i.material-icons-outlined:hover {
    color: var(--theme-color-dark);
}

.post-item {
    box-shadow: 3px 3px 10px 1px rgba(128, 128, 128, 0.62);
}

.post-item.featured {
    max-width: 40rem;
    margin: auto;
    /* padding: 0.25rem; */
    /* border: 1px solid black; */
}

.post-item.featured .featured-banner {
    top: 1em;
    left: 1em;
    color: var(--theme-color-light);
    font-weight: 600;
    background-color: #FFFFFF80;
    padding: 0.2em 0.4em;
    border-radius: 0.4em;
}

.post-item .profile-pic {
    border-radius: 50%;
    width: 3em;
    height: 3em;
}

.post-item .thumbnail-image {
    aspect-ratio: 16/9; 
    max-height: 20em;
    object-position: center; 
    object-fit: cover;
}

.post-details {
    /* background-color: aqua; */
    background-color: white;
}

.post-details .user-name {
    font-weight: 700;
}

/* .post-details .user-location {
    font-weight: 400;
} */

.post-details .hashtag {
    /* font-weight: 500; */
    color: white;
    background-color: var(--theme-color-light);
    padding: 0.2em 0.4em;
    border-radius: 0.2em;
}

.post-details .post-title {
    font-weight: 700;
    font-size: 1.5em;
}

.post-category {
    overflow-x: scroll;
    border-top: 0.5em solid var(--theme-color);
    border-bottom: 0.5em solid var(--theme-color);
    padding-left: 1em;
    padding-right: 1em;
}

.post-category .post-category-item {
    min-width: 5em;
}

.post-category .post-category-item i {
    font-size: 2em;
}
